div {
  outline: 1px solid red;
}

:root {
  --landscape-width: 25vw;
  --portrait-width: 80vw;
  --header-height: 4rem;
  --secs: 0.4s;
  --bg-left: springgreen;
  --bg-right: cyan;
  --bg-main: lemonchiffon;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  margin: 0;
  overflow: hidden; // Disable scrolling on body
}

// Layout definition:
#layout {
  position: relative; top: 0;
}

// Main area specific style:
#main {
  position: absolute; top: 0; left: 0; right: 0;
  transition: width var(--secs), left var(--secs), right var(--secs);
  width: 100vw;
  &.left-open { &.right-open { width: 50vw; }
    left: 25vw; width: 75vw;
  }
  &.right-open { right: 75vw; width: 75vw; }
  background: var(--bg-main);
  .header { left: 0; right: 0;
    background: linear-gradient(to right, var(--bg-left), var(--bg-right));
    @media (orientation: landscape) {
      .title { transition: left var(--secs), right var(--secs);
        &.left-closed { left: var(--header-height); }
        &.right-closed { right: var(--header-height); }
      }
    }
  }
}

// Left sidebar specific style:
#left { left: 0;
  .header { left: var(--header-height); }
  .sidebar { background: var(--bg-left);
    transition: transform var(--secs);
    &.closed { transform: translate(-100%); }
  }
}

// Right sidebar specific style:
#right { right: 0;
  .icon { right: 0; }
  .sidebar { background: var(--bg-right);
    transition: transform var(--secs);
    &.closed { transform: translate(+100%); }
  }
}

// Style in common for both sidebars:
#left, #right { position: absolute;
  width: var(--landscape-width);
  @media (orientation: portrait) {
    width: var(--portrait-width);
  }
  .icon { position: fixed;
    z-index: 10; cursor: pointer;
    width: var(--header-height);
    height: var(--header-height);
    line-height: var(--header-height);
    font-size: var(--header-height);
    text-align: center; user-select: none;
  }
  .header { width: calc(100% - var(--header-height)); }
}

// Style in common for all 3 grid areas:
.header { position: relative;
  height: var(--header-height);
  text-align: center; // Horizontal center
  .title { position: absolute; left: 0; right: 0; }
}
.content { height: 100vh; padding: 1rem; }